bazel_dep(name = "rules_bazelrio", version = "")
bazel_dep(name = "bzlmodrio-allwpilib", version = "2024.1.1-beta-1")
{{bazel_dependencies.rules_cc.module_dep()}}

local_path_override(
    module_name = "rules_bazelrio",
    path = ".."
)